COMPOSE_PROJECT_NAME=capaforge
PROJECTS_ROOT=./projects
PHP56_IMAGE=devilbox/php-fpm:5.6-prod
POSTGRES_IMAGE=postgres:16-alpine
MYSQL_IMAGE=mysql:8.4
REDIS_IMAGE=redis:7-alpine
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=change-me
MYSQL_DATABASE=app
MYSQL_USER=app
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me-root
